<div class="row sense-list" cg-busy="senses.$promise">
  <div  class="col-sm-6 col-md-3">
    <div class="thumbnail">
      <div class="caption">
        <p><a ui-sref="sense.new" class="btn btn-default btn-primary btn-block" role="button">+创建</a>
        <p><a ui-sref="template.index" class="btn btn-default btn-success btn-block" role="button">+从模板创建</a>
      </div>
    </div>
  </div>
  <div ng-repeat="sense in senses track by $index" class="col-sm-6 col-md-3">
    <div class="thumbnail">
      <editor-preview ng-model="sense" class="editor-preview"></editor-preview>
      <div class="caption mask">
        <h3>{{sense.name}}</h3>
        <p><a ui-sref="scene.edit({id:sense._id})" class="btn btn-primary" role="button">编辑</a> 
            <a ng-href="" class="btn btn-danger" role="button" ng-click="remove($index)">删除</a></p>
      </div>
    </div>
  </div>
</div>
