.sense-list .thumbnail{
    height:240px;
    width:160px;
    padding:0;
    overflow:hidden;
    position:relative;
}

.sense-list .thumbnail .mask{
    display:none;
    background-color:rgba(0,0,0,0.3);
    color:#fff;
    padding:0;
}

.sense-list .thumbnail:hover .mask{
    display:block;
}