.sense-list .thumbnail{
    height:240px;
    width:160px;
    padding:0;
    overflow:hidden;
    position:relative;
}

.sense-list .thumbnail .caption{
    position:absolute;
    width:100%;
    bottom:0;
    background-color:rgba(0,0,0,0.3);
    color:#ffffff;
}

.sense-list .thumbnail .caption h4{
    text-align:center;
}

.editor-stage{
    display:block;
}
