

<div modal-render="{{$isRendered}}" tabindex="-1" role="dialog" class="modal"
    modal-animation-class="fade"
    modal-in-class="in"
	ng-class="{in: animate}" ng-style="{'z-index': 1050 + index*10, display: 'block'}" ng-click="close($event)">
    <div class="modal-dialog" ng-class="size ? 'modal-' + size : ''">
      <div class="modal-content">
        <div class="modal-header">
          <button ng-if="modal.dismissable" type="button" ng-click="$dismiss()" class="close">&times;</button>
          <h4 ng-if="modal.title" ng-bind="modal.title" class="modal-title"></h4>
        </div>
        <div class="modal-body" modal-transclude>
        </div>
        <div class="modal-footer">
          <button ng-repeat="button in modal.buttons" ng-class="button.classes" ng-click="button.click($event)" ng-bind="button.text" class="btn"></button>
        </div>
      </div>
    </div>
</div>