<div class="col-md-2">
    <svg  viewBox="0 0 500 500" preserveAspectRatio="none" class="full">
        <rect ng-click="widget.widget.shape='rect'" x="0" y="0" fill="{{widget.widget.fill}}" width="100%" height="100%" />
    </svg>
</div>
<div class="col-md-2">
    <svg  viewBox="0 0 500 500" preserveAspectRatio="none" class="full">
        <ellipse ng-click="widget.widget.shape='circle'" rx="250" ry="250" cx="250" cy="250" fill="{{widget.widget.fill}}"  width="100%" height="100%" />
    </svg>
</div>
<div class="col-md-2">
    <svg  viewBox="0 0 500 500" preserveAspectRatio="none" class="full">
        <polygon ng-click="widget.widget.shape='traingle'" points="250,0 500,500 0,500" fill="{{widget.widget.fill}}"  width="100%" height="100%"></polygon>
    </svg>
</div>
<div class="col-md-2">
    <svg  viewBox="0 0 500 500" preserveAspectRatio="none" class="full">
        <polygon ng-click="widget.widget.shape='angle'" points="0,0 500,500 0,500" fill="{{widget.widget.fill}}"  width="100%" height="100%"></polygon>
    </svg>
</div>
<div class="col-md-2">
    <svg  viewBox="0 0 500 500" preserveAspectRatio="none" class="full">
        <path  ng-click="widget.widget.shape='heart'" d="M140,20C
            73,20 20,74 20,140
            20,275 156,310 248,443
            336,311 477,270 477,140
            477,74 423,20 357,20
            309,20 267,48 248,89
            229,48 188,20 140,20Z" 
            fill="{{widget.widget.fill}}" 
            width="100%" height="100%"
        />
    </svg>
</div>