.editor .panel,
.editor-setting .panel{
    width: 320px;
    border-radius: 25px;
}

.editor .panel-heading,
.editor .panel-footer,
.editor-setting .panel-heading,
.editor-setting .panel-footer {
    height:40px;
}

.editor .panel-body,
.editor-setting .panel-body
{
    height:500px;
    padding:0;
}

.editor .panel-footer .pager{
    margin:0;
}

.editor .panel-footer .pager li > a{
    padding:0 6px;
    cursor:pointer;
}

.editor .pager>.active>a, 
.editor .pager>.active>a:focus, 
.editor .pager>.active>a:hover, 
.editor .pager>.active>span, 
.editor .pager>.active>span:focus, 
.editor .pager>.active>span:hover {
    z-index: 2;
    color: #fff;
    cursor: default;
    background-color: #337ab7;
    border-color: #337ab7;
}

.panel-white .panel-heading,
.panel-white .panel-footer{
    background:none;
}


.editor-settings-tab{
    margin-top: -41px;
}

.editor-settings-tab > .nav-tabs{
    padding:0 20px;
}

.editor-setting .table th{
    vertical-align:middle;
}

.editor-widgets-item{
    cursor:move;
}

.editor-widgets-item .widget-editor{
    position:absolute;
    top:0;
    left:0;
}

.background-setting{
    height:250px;
    display:block;
    background-color:#eee;
    background-size: cover;
}

.editor-resizer{
    display:block;
    width:100%;
    height:100%;
    border: 1px dashed #888;
    top:0;
    left:0;
    position:absolute;
}

.editor-resizer-handle{
    position:absolute;
    width:8px;
    height:8px;
    left:0;
    top:0;
    margin-top:-4px;
    margin-left:-4px;
    border:1px solid #ccc;
    background:#888;
}

.editor-resizer-top-left{
    cursor:nw-resize;
}

.editor-resizer-top-middle{
    left:50%;
    cursor:n-resize;
}

.editor-resizer-top-right{
    left:100%;
    cursor:ne-resize;
}

.editor-resizer-bottom-left{
    top:100%;
    cursor:sw-resize;
}

.editor-resizer-bottom-middle{
    left:50%;
    top:100%;
    cursor:s-resize;
}

.editor-resizer-bottom-right{
    left:100%;
    top:100%;
    cursor:se-resize;
}

.editor-resizer-middle-left{
    top:50%;
    cursor:w-resize;
}

.editor-resizer-middle-right{
    left:100%;
    top:50%;
    cursor:e-resize;
}

.editor-contextmenu{
    position:fixed;
    display:block;
    //z-index:999;
}