.editor .panel,
.editor-setting .panel{
    width: 320px;
    border-radius: 25px;
}

.editor .panel-heading,
.editor .panel-footer,
.editor-setting .panel-heading,
.editor-setting .panel-footer {
    height:50px;
}

.editor .panel-body,
.editor-setting .panel-body
{
    height:500px;
    padding:0;
}

.editor .panel-footer .pager{
    margin:0;
}


.panel-white .panel-heading,
.panel-white .panel-footer{
    background:none;
}


.editor-settings-tab{
    margin-top: -41px;
}

.editor-settings-tab > .nav-tabs{
    padding:0 20px;
}

.editor-setting .table th{
    vertical-align:middle;
}

.editor-widgets-item{
    cursor:move;
}

.editor-widgets-item .widget-editor{
    position:absolute;
    top:0;
    left:0;
}

.background-uploader{
    height:100px;
    display:block;
}