<div ng-if="widget.widget.type=='background'" ng-include="'app/editor/content-background.html'" class="form-group widget-background-settins"></div>
<div ng-if="widget.widget.type=='image'" ng-include="'app/editor/content-image.html'" class="form-group widget-image-settins"></div>
<div ng-if="widget.widget.type=='text'" ng-include="'app/editor/content-text.html'" class="form-group widget-text-settings"></div>
<div ng-if="widget.widget.type=='shape'" ng-include="'app/editor/content-shape.html'" class="form-group wiget-shape-settings"></div>