<div ng-repeat="widget in page.contents"
    ng-style="{position:widget.position,
               left:widget.left+'px',
               top:widget.top+'px',
               width:widget.width+'px',
               height:widget.height+'px',
               backgroundColor:widget.backgroundColor,
               fontWeight:widget.fontWeight,
               fontStyle:widget.fontStyle,
               textDecoration:widget.textDecoration}"
    ng-click="changeWidget($event, widget)"
    hm-panstart="onPanStart($event, widget)"
    hm-panmove="onPanMove($event, widget)"
    class="editor-widgets-item animated {{widget.animation}}" >
    <editor-widget ng-model="widget"></editor-widget>
</div>
