<div ng-repeat="widget in page.contents"
    ng-style="{position:widget.position,
               left:widget.left+'px',
               top:widget.top+'px',
               width:widget.width+'px',
               height:widget.height+'px'}"
    ng-click="changeWidget($event, widget)"
    hm-panstart="onPanStart($event, widget)"
    hm-panmove="onPanMove($event, widget)"
    class="editor-widgets-item animated {{widget.animation}}" >
    <editor-widget 
        ng-model="widget" 
        class="block full"
        ng-style="{
        transform:'rotate('+widget.transform+'deg)',
        borderWidth:widget.borderWidth+'px',
        borderStyle:widget.borderStyle,
        borderColor:widget.borderColor,
        boxShadow: '0px 0px '+widget.boxShadow+'px '+widget.boxShadowColor,
       backgroundColor:widget.backgroundColor,
       fontWeight:widget.fontWeight,
       fontStyle:widget.fontStyle,
       textDecoration:widget.textDecoration
    }"></editor-widget>
</div>
