<table class="table table-bordered table-stripped">
    <tbody>
        <tr>
            <th>左移</th>
            <td><input type="range" ng-model="widget.widget.left" min="1" max="320" step="1" /></td>
        </tr>
        <tr>
            <th>上移</th>
            <td><input type="range" ng-model="widget.widget.top" min="1" max="320" step="1" /></td>
        </tr>
        <tr>
            <th>宽度</th>
            <td><input type="range" ng-model="widget.widget.width" min="1" max="320" step="1" /></td>
        </tr>
        <tr>
            <th>高度</th>
            <td><input type="range" ng-model="widget.widget.height" min="1" max="500" step="1" /></td>
        </tr>
        <tr>
            <th>背景</th>
            <td><input type="color" ng-model="widget.widget.backgroundColor" /></td>
        </tr>
    </tbody>
</table>