<ul class="pager">
    <li ng-repeat="page in sense.contents track by $index" ng-class="{active:page.active}" hm-panend="sort($event,$index)">
        <a ng-click="activePage(page)">{{$index+1}}</a>
    </li>
    <li class="pull-right"><a ng-click="removePage($index)" uib-tooltip="删除当前页面" tooltip-append-to-body="true">-</a></li>
    <li class="pull-right"><a ng-click="insertPage($index)" uib-tooltip="插入新页面" tooltip-append-to-body="true">+</a></li>
    <li class="pull-right"><a ng-click="snapshot($event)" uib-tooltip="生成缩略图" tooltip-append-to-body="true">p</li>
</ul>