<div class="full  animated {{page.background.animation}}"
    contextmenu-container="editor.contextmenu"
    ng-style="{backgroundImage:'url('+page.background.src+')',
               backgroundSize: 'cover',
               backgroundColor:page.background.backgroundColor,
               animationDelay: page.background.animationDelay+'s',
               animationDuration: page.background.animationDuration+'s',
               animationIterationCount:page.background.animationIterationCount}">
  
  <div class="full editor-widget-background "
    contextmenu-item="page.background"
    ng-click="changeWidget($event, page.background)">
  </div>

    <div ng-repeat="widget in page.contents track by $index"
        contextmenu-item="widget"
        ng-style="{position:widget.position,
                   left:widget.left+'px',
                   top:widget.top+'px',
                   width:widget.width+'px',
                   height:widget.height+'px',
                   animationDelay: widget.animationDelay+'s',
                   animationDuration: widget.animationDuration+'s',
                   animationIterationCount:widget.animationIterationCount}"
        class="editor-widgets-item editor-widget-{{widget.type}} animated {{widget.animation}}" >
        <editor-widget 
            ng-model="widget" 
            class="block full editor-widget-element"
            ng-style="{
            padding:widget.padding+'px',
            lineHeight:widget.lineHeight+'em',
            transform:'rotate('+widget.transform+'deg)',
            borderWidth:widget.borderWidth+'px',
            borderStyle:widget.borderStyle,
            borderColor:widget.borderColor,
            borderRadius: widget.borderRadius+'px',
            boxShadow: '0px 0px '+widget.boxShadow+'px '+widget.boxShadowColor,
           backgroundColor:widget.backgroundColor,
           opacity:widget.opacity,
           fontWeight:widget.fontWeight,
           fontStyle:widget.fontStyle,
           textDecoration:widget.textDecoration,
           textAlign:widget.textAlign,
           color:widget.color
        }">
        </editor-widget>
        <editor-resizer 
            ng-model="widget" 
            class="editor-resizer"
            ng-class="{active:widget.active}" 
            ng-style="{transform:'rotate('+widget.transform+'deg)'}">
        </editor-resizer>
    </div>

</div>

<div contextmenu="editor.contextmenu" class="dropdown contextmenu editor-contextmenu">
  <ul class="dropdown-menu" role="menu">
    <li><a ng-click="copy(editor.contextmenu.item)">复制元素</a></li>
    <li><a ng-click="paste(editor.contextmenu.item)">粘贴元素</a></li>
    <li><a ng-click="group(editor.contextmenu.item)">组合元素</a></li>
    <li><a ng-click="split(editor.contextmenu.item)">拆分元素</a></li>
    <li><a ng-click="save(editor.contextmenu.item)">保存元素</a></li>
    <li><a ng-click="savePage(editor.contextmenu.item)">保存页面</a></li>
    <li><a ng-click="remove(editor.contextmenu.item)">删除元素</a></li>
    <li><a ng-click="pull(editor.contextmenu.item)">上一层</a></li>
    <li><a ng-click="push(editor.contextmenu.item)">下一层</a></li>
  </ul>
</div>
