<img ng-if="widget.type=='image'" ng-src="{{widget.src}}" class="full img-responsive" />
<div ng-if="widget.type=='text'">{{widget.text}}</div>
<div ng-if="widget.type=='custom'" ng-bind-html="widget.code|trustAsHtml"></div>
<div ng-if="widget.type=='shape'" ng-include="widget.src"></div>
<div ng-if="widget.type=='form'" class="form-group">
	<input ng-if="widget.fieldType=='input'" placeholder="{{widget.placeholder}}" type="text" class="form-control input-sm" />
	<textarea ng-if="widget.fieldType=='textarea'" placeholder="{{widget.placeholder}}" class="form-control input-sm">
	</textarea>
	<div ng-if="widget.fieldType=='radio'"  class="radio">
	 <label><input type="radio" />{{widget.placeholder}}</label>
	</div>
	<div ng-if="widget.fieldType=='checkbox'"  class="checkbox">
	 <label><input type="checkbox" />{{widget.placeholder}}</label>
	</div>
	<select ng-if="widget.fieldType=='select'" class="form-control input-sm"></select>
</div>
