<div class="background-setting">
<table class="table table-bordered">
  <tbody>
    <tr>
      <th width="30%">图片</th>
      <td>
        <button class="btn btn-default btn-sm" ng-click="selectBackground()"><i class="glyphicon glyphicon-folder-open"></i></button>
        <button class="btn btn-default btn-sm" ng-click="clearBackground()">x</button>
      </td>
    </tr>
    <tr>
    <td colspan="2">
      <div class="widget-image-setting">
      <img ng-src="{{widget.widget.src}}" class="block height" />
      </div>
    </td>
    </tr>
  </tbody>
</table>
</div>
