<table class="table">
    <tbody>
        <tr>
            <th width="20%">填充</th>
            <td>
                <div class="col-sm-6"><input type="color" class="form-control input-sm" ng-model="widget.widget.fill" /></div>
                <div class="col-sm-6"><button class="btn btn-default btn-sm" ng-click="clearFill()">x</button></div>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <div ng-repeat="shape in shapes track by $index" class="col-sm-3 p15"  ng-class="{'bg-success':widget.widget.shape==shape.value}">
                    <img class="full img-responsive" ng-src="/assets/svg/{{shape.value}}.svg" ng-click="selectShape(shape)" />
                </div>
            </td>
        </tr>
    </tbody>
</table>
