<div class="modal-header">
    <h4 class="modal-title">场景设置</h4>
</div>
<div class="modal-body clearfix">
    <div class="col-md-5">
        <iframe width="320" height="480" frameborder="0"></iframe>
    </div>
    <div class="col-md-7">
        <form class="form form-horizontal " name="form" novalidate>
            <div class="form-group">
                <label class="col-sm-3 control-label">二维码</label>
                <div class="col-sm-9">
                    <qrcode 
                        version="4" 
                        error-correction-level="M" 
                        size="150" 
                        data="https://github.com/monospaced/angular-qrcode" 
                        href="https://github.com/monospaced/angular-qrcode"
                        >
                    </qrcode>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">名称</label>
                <div class="col-sm-9">
                    <input class="form-control" type="text" ng-model="sense.name" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">标签</label>
                <div class="col-sm-9">
                    <input class="form-control" type="text" ng-model="sense.tags" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">封面</label>
                <div class="col-sm-9">
                    <input class="form-control" type="text" ng-model="sense.cover" />
                </div>
            </div>
        </form>
    </div>
</div>
<!-- <div class="modal-footer">
    <button class="btn btn-default btn-lg">取消</button>
</div> -->