<div ng-if="widget.widget.type=='background'" ng-include="'app/editor/settings/content-background.html'" class="form-group widget-background-settins relative"></div>
<div ng-if="widget.widget.type=='image'" ng-include="'app/editor/settings/content-image.html'" class="form-group widget-image-settins"></div>
<div ng-if="widget.widget.type=='text'" ng-include="'app/editor/settings/content-text.html'" class="form-group widget-text-settings"></div>
<div ng-if="widget.widget.type=='shape'" ng-include="'app/editor/settings/content-shape.html'" class="form-group wiget-shape-settings"></div>
<div ng-if="widget.widget.type=='video'" ng-include="'app/editor/settings/content-video.html'" class="form-group widget-video-settins"></div>