<div class="panel panel-default panel-white pull-right phone-shell">
  <div class="panel-heading">
    &nbsp;
  </div>
  <div class="panel-body bg-warning">
    <uib-tabset class="editor-tabset" justified="true">
      <uib-tab heading="内容">
        <editor-setting-content ng-model="sense"></editor-setting-content>
      </uib-tab>
      <uib-tab heading="样式">
        <editor-setting-style ng-model="sense"></editor-setting-style>
      </uib-tab>
      <uib-tab heading="动画">
        <editor-setting-animation ng-model="sense"></editor-setting-animation>
      </uib-tab>
      <uib-tab heading="触发">
        <editor-setting-trigger ng-model="sense"></editor-setting-trigger>
      </uib-tab>
    </uib-tabset>
  </div>
  <div class="panel-footer">
    <actionbar ng-model="sense"></actionbar>
  </div>
</div>