<table class="table table-bordered table-stripped">
    <tbody>
        <tr>
            <th>动画</th>
            <td>
                <select ng-model="widget.widget.animation" ng-options="animation.animation as animation.name for animation in animations"></select> 
                <input type="checkbox" ng-model="widget.widget.animationIterationCount" ng-true-value="'infinite'" />循环播放
            </td>
        </tr>
        <tr>
            <th>延迟</th>
            <td><input type="range" ng-model="widget.widget.animationDelay" min="1" max="20" step="0.1" /></td>
        </tr>
        <tr>
            <th>速度</th>
            <td><input type="range" ng-model="widget.widget.animationDuration" min="0" max="2" step="0.1" tooltip="{{widget.wiget.type}}" /></td>
        </tr>
    </tbody>
</table>
