<table class="table table-bordered table-stripped">
    <tbody>
        <tr>
            <th width="20%">左移</th>
            <td><input type="range" ng-model="widget.widget.left" min="1" max="320" step="1" /></td>
        </tr>
        <tr>
            <th>上移</th>
            <td><input type="range" ng-model="widget.widget.top" min="1" max="320" step="1" /></td>
        </tr>
        <tr>
            <th>宽度</th>
            <td><input type="range" ng-model="widget.widget.width" min="1" max="320" step="1" /></td>
        </tr>
        <tr>
            <th>高度</th>
            <td><input type="range" ng-model="widget.widget.height" min="1" max="500" step="1" /></td>
        </tr>
        <tr>
            <th>边距</th>
            <td><input type="range" ng-model="widget.widget.padding" min="1" max="150" step="1" /></td>
        </tr>
        <tr>
            <th>旋转</th>
            <td><input type="range" ng-model="widget.widget.transform" min="1" max="360" step="1" /></td>
        </tr>
        <tr>
            <th>边框</th>
            <td>
                <div class="col-sm-4"><input type="range" ng-model="widget.widget.borderWidth" min="0" max="100" step="1" /></div>
                <div class="col-sm-4"><select ng-model="widget.widget.borderStyle" ng-options="style.style as style.name for style in border_style"></select></div>
                <div class="col-sm-4"><input type="color" ng-model="widget.widget.borderColor" class="" /></div>
            </td>
        </tr>
        <tr>
            <th>圆角</th>
            <td><input type="range" ng-model="widget.widget.borderRadius" min="1" max="320" step="1" /></td>
        </tr>
        <tr>
            <th>阴影</th>
            <td>
                <div class="col-sm-6"><input type="range" ng-model="widget.widget.boxShadow" min="0" max="100" step="1" /></div>
                <div class="col-sm-6"><input type="color" ng-model="widget.widget.boxShadowColor" class="" /></div>
            </td>
        </tr>
        <tr>
            <th>背景</th>
            <td>
                <input type="color" ng-model="widget.widget.backgroundColor" class="input-xs" />
                <button class="btn btn-xs btn-default pull-right">..</button>
            </td>
        </tr>
        <tr>
            <th>透明</th>
            <td>
                <input type="range" ng-model="widget.widget.opacity" min="0" max="1" step="0.1" />
            </td>
        </tr>
    </tbody>
</table>