<div class="panel panel-default panel-white pull-right phone-shell">
  <div class="panel-heading">
    &nbsp;
  </div>
  <div class="panel-body bg-warning">
    <tabset class="editor-tabset" justified="true">
      <tab heading="内容">
        <editor-setting-content ng-model="sense"></editor-setting-content>
      </tab>
      <tab heading="样式">
        <editor-setting-style ng-model="sense"></editor-setting-style>
      </tab>
      <tab heading="动画">
        <editor-setting-animation ng-model="sense"></editor-setting-animation>
      </tab>
    </tabset>
  </div>
  <div class="panel-footer">
    <actionbar ng-model="sense"></actionbar>
  </div>
</div>