/* 位置 */
.static {
    position: static;
}
.relative {
    position: relative;
}
.absolute {
    position: absolute;
}
.fixed {
    position: fixed;
}

/* 宽度 */
.full{
    width:100%;
    height:100%;
}
.wide{
    width:100%;
}
.height{
    height:100%;
}

/* 块 */
.block {
    display:block;
}
.inline{
    display:inline;
}
.inline-block{
    display:inline-block;
}