<div class="account-signup">
  <div class="row">
    <div class="col-sm-12">
      
    </div>
    <div class="col-sm-12">
      <form class="form form-horizontal" name="form" ng-submit="register(form)" novalidate>

        <div class="form-group" ng-class="{ 'has-success': form.name.$valid && submitted,
                                            'has-error': form.name.$invalid && submitted }">
          <label class="col-sm-2 control-label">名称：</label>
          <div class="col-sm-10">
          <input type="text" name="name" class="form-control" ng-model="user.name" required/>
          <p class="help-block" ng-show="form.name.$error.required && submitted">
            A name is required
          </p>
          </div>
        </div>

        <div class="form-group" ng-class="{ 'has-success': form.email.$valid && submitted,
                                            'has-error': form.email.$invalid && submitted }">
          <label class="col-sm-2 control-label">邮箱：</label>
          <div class="col-sm-10">
          <input type="email" name="email" class="form-control" ng-model="user.email"
                 required
                 mongoose-error/>
          <p class="help-block" ng-show="form.email.$error.email && submitted">
            Doesn't look like a valid email.
          </p>
          <p class="help-block" ng-show="form.email.$error.required && submitted">
            What's your email address?
          </p>
          <p class="help-block" ng-show="form.email.$error.mongoose">
            {{ errors.email }}
          </p>
          </div>
        </div>

        <div class="form-group" ng-class="{ 'has-success': form.password.$valid && submitted,
                                            'has-error': form.password.$invalid && submitted }">
          <label class="col-sm-2 control-label">密码：</label>
          <div class="col-sm-10">
          <input type="password" name="password" class="form-control" ng-model="user.password"
                 ng-minlength="3"
                 required
                 mongoose-error/>
          <p class="help-block"
             ng-show="(form.password.$error.minlength || form.password.$error.required) && submitted">
            Password must be at least 3 characters.
          </p>
          <p class="help-block" ng-show="form.password.$error.mongoose">
            {{ errors.password }}
          </p>
          </div>
        </div>

        <div class="form-group">
          <div class="col-sm-10 col-sm-offset-2">
          <button class="btn btn-success btn-lg btn-login" type="submit">
            注册
          </button>
          <a class="btn btn-default btn-lg btn-register" href="/account/login" ng-click="signin($event)">
            登陆
          </a>
          </div>
        </div>

      </form>
    </div>
  </div>
  <hr>
</div>
