<div class="panel panel-default panel-white panel-editor">
  <div class="panel-heading">
    &nbsp;
  </div>
  <div class="panel-body bg-warning">
    <tabset class="editor-tabset" justified="true">
      <tab heading="个人">
        <div class="col-sm-6" ng-repeat="scene in templates">
        <div class="thumbnail relative">
        <editor-preview class="editor-preview" ng-model="scene"></editor-preview>
        </div>
        </div>
      </tab>
      <tab heading="企业">
        
      </tab>
    </tabset>
  </div>
  <div class="panel-footer">
    
  </div>
</div>